body {
  background: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.button {
  padding: 0.7rem 1.5rem;
  background: black;
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: white;
}

.button a {
  color: #76c4ae;
}

.button:hover {
  background: lightcyan;
}

.button:hover a {
  color: lightcyan;
}

img, video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: lightgray;
}

p {
  font-size: 12px;
  color: lightgray;
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: black;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: black;
}

.navBar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}
.navBar .logo {
  width: 20%;
}
.navBar .navBarOne {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background: lightgray;
}
.navBar .navBarOne .none {
  display: none;
}
.navBar .navBarOne .icon:hover {
  color: #76c4ae;
}
.navBar .navBarOne .login {
  gap: 1rem;
}
.navBar .navBarOne .login span {
  color: black;
  font-size: 13px;
  cursor: pointer;
}
.navBar .navBarOne .login span:hover {
  color: #76c4ae;
}
.navBar .navBarOne .menu {
  display: flex;
  gap: 0.5rem;
  text-align: center;
}
.navBar .navBarOne .menu .listItem {
  padding: 0.5rem 0;
  cursor: pointer;
  color: black;
}
.navBar .navBarOne .menu .listItem:hover {
  color: #76c4ae;
}
.navBar .navBarOne .contactButton {
  display: block;
  justify-content: center;
  margin: auto;
  align-self: center;
  margin-top: 1rem;
}

.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.home .main {
  color: black;
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}
.home .homeGIF {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.home .homeGIF .GIF {
  width: 100%;
}
.home .homeGIF .GIF .vid {
  border-radius: 10rem;
}
.home .homeGIF .planePicture {
  position: absolute;
  width: 100%;
  top: 20%;
}

.search .sectionContainer {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid gray;
  border-radius: 16px;
  row-gap: 2rem;
}
.search .sectionContainer .button {
  background: black;
  padding: 0.5rem;
  border-radius: 3rem;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.search .sectionContainer .button .oneButton {
  padding: 0.8rem 1.5rem;
  font-size: 13px;
  border-radius: 3rem;
  width: 80%;
  text-align: center;
}
.search .sectionContainer .button .oneButton:hover {
  background: #76c4ae;
  color: white;
  font-weight: 500;
  transition: 0.4s ease;
}
.search .sectionContainer .inputs {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.search .sectionContainer .inputs .oneInput .inputIcon {
  padding: 16px 10px;
  border-radius: 3rem;
  background: white;
  margin-left: 10rem;
}
.search .sectionContainer .inputs .oneInput .inputIcon .icon {
  margin-left: 2 rem;
  color: black;
  opacity: 0.5;
}
.search .sectionContainer .inputs .oneInput .texts h4 {
  padding-top: 0;
  padding-bottom: 0.7rem;
  color: black;
  font-weight: 700;
}
.search .sectionContainer .inputs .oneInput .texts input {
  width: 95%;
  border: none;
  outline: none;
  background: transparent;
}
.search .sectionContainer .inputs .oneInput .texts input::-moz-placeholder {
  font-size: 12px;
  opacity: 0.4;
}
.search .sectionContainer .inputs .oneInput .texts input::placeholder {
  font-size: 12px;
  opacity: 0.4;
}
.search .sectionContainer .buttonBlock {
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 7rem;
}

@media screen and (min-width: 480px) {
  .home {
    padding-top: 12rem;
  }
  .search .sectionContainer .inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 570px) {
  .home .main {
    width: 80%;
  }
  .home .homeGIF .GIF {
    border-radius: 15rem;
  }
  .home .homeGIF .planePicture {
    position: absolute;
    width: 95%;
    top: -25%;
  }
  .search .sectionContainer .button {
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .sectionContainer .inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 680px) {
  .home .main {
    width: 80%;
  }
  .home .homeGIF .GIF {
    width: 80%;
  }
  .home .homeGIF .GIF .vid {
    height: 100%;
    width: 100%;
    border-radius: 15rem;
  }
  .home .homeGIF .planePicture {
    position: absolute;
    width: 60%;
    top: -30%;
  }
  .search .sectionContainer .button {
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .sectionContainer .inputs {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .navBar {
    align-items: center;
  }
  .navBar .navBarOne .none {
    display: flex;
    gap: 1.5rem;
  }
  .navBar .navBarOne .none li {
    font-size: 13px;
    gap: 0.5rem;
    color: black;
  }
  .navBar .navBarOne .none li:hover {
    color: #76c4ae;
  }
  .navBar .menu {
    flex-direction: row;
    gap: 0.5rem;
  }
  .navBar .menu .listItem {
    padding: 0 0.5rem;
    font-size: 14px;
  }
  .navBar .menu .listItem {
    padding: 0.5rem;
    font-size: 14px;
    cursor: pointer;
    color: lightgray;
  }
  .navBar .menu .listItem:hover {
    color: #76c4ae;
  }
  .search .sectionContainer .button {
    width: 70%;
    border-radius: 3rem;
    flex-direction: row;
  }
  .search .sectionContainer .inputs {
    grid-template-columns: repeat(4, 1fr);
  }
  .search .sectionContainer .inputs .oneInput .texts input {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .home {
    padding-top: 10rem;
  }
  .home .main {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
  .search .sectionContainer .inputs {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 12px;
    line-height: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h2 {
    font-size: 27px;
  }
  .container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .section {
    padding: 5rem 0 4rem;
  }
  .navBar .navBarOne {
    padding: 0 0.5rem;
  }
  .home .main {
    width: 60%;
    padding-bottom: 1.5rem;
    font-size: 25px;
    line-height: 4rem;
  }
  .home .homeGIF .GIF {
    width: 90%;
    height: 300px;
  }
  .home .homeGIF .GIF .vid {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15rem;
  }
  .home .homeGIF .planePicture {
    position: absolute;
    width: 55%;
    top: -25%;
  }
  .search .sectionContainer .button {
    width: 50%;
  }
}
::-moz-selection {
  background: #76c4ae;
  color: white;
}
::selection {
  background: #76c4ae;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: #76c4ae;
  border-radius: 10px;
}/*# sourceMappingURL=main.css.map */